Connect to the database using credentials below:

    host: mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com
    port: 5432
    user: lhl_student
    pwd: lhl_student
    database: mid_term_project

The database contains all tables we need for the mid-term project.

In [4]:
# Import Pandas
import pandas as pd

In [5]:
import psycopg2

# Connect to your postgres DB
conn = psycopg2.connect(host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
                       port = '5432',
                       user = 'lhl_student',
                       password = 'lhl_student',
                       database = 'mid_term_project')

# Open a cursor to perform database operations
cur = conn.cursor()

Selecting flights from the following ranges: <br>
(January 1, 2018 - January 15th, 2018)<br>
(December 15, 2018 - January 15, 2019) <br>
(December 15, 2019 - December 31, 2019)

These values are likely to by the most representative of the test set, as they are dates that bound the holiday period, where flight habits are most likely to change for many people.  Could potentially extend it to other important American holidays such as thanksgiving or July 4th.

In [4]:
flight_data = pd.read_sql("SELECT * FROM flights WHERE (fl_date BETWEEN '2018-12-15'AND '2019-01-15') OR (fl_date BETWEEN '2018-01-01' AND '2018-01-15') OR (fl_date BETWEEN '2019-12-15' AND '2019-12-31')"
            ,conn)

In [16]:
flight_data

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
1328672,2018-01-12,WN,WN,WN,1420,WN,N7719A,1420,14122,PIT,...,966.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None
1328671,2018-01-12,WN,WN,WN,714,WN,N213WN,714,14122,PIT,...,1814.0,0.0,0.0,6.0,0.0,64.0,,NaN,NaN,None
1328670,2018-01-12,WN,WN,WN,1640,WN,N457WN,1640,14122,PIT,...,402.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None
1328669,2018-01-12,WN,WN,WN,1124,WN,N8648A,1124,14122,PIT,...,402.0,11.0,0.0,0.0,0.0,7.0,,NaN,NaN,None
1328668,2018-01-12,WN,WN,WN,882,WN,N780SW,882,14122,PIT,...,402.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2018-12-15,NK,NK,NK,446,NK,N621NK,446,12889,LAS,...,1514.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
3,2018-12-15,NK,NK,NK,445,NK,N504NK,445,11066,CMH,...,973.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
2,2018-12-15,NK,NK,NK,443,NK,N681NK,443,10821,BWI,...,925.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,2018-12-16,UA,UA_CODESHARE,UA,4119,EV,N14993,4119,11618,EWR,...,277.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
0,2018-12-15,NK,NK,NK,393,NK,N506NK,393,10397,ATL,...,425.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None

In [6]:
# flight_data.to_csv('data/flights.csv')

Let's check out some of the other tables

In [7]:
pd.read_sql("SELECT * FROM fuel_comsumption LIMIT 15"
            ,conn)

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,None,0JQ,None,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5100.0,0.0,5100.0,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,396216.0,140239.0,536455.0,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405.0,0.0,0.0,0.0,0.0,522405.0,569497.0,0.0,569497.0,2016
5,1,19917.0,5X,5X,United Parcel Service,3,32138000.0,9743000.0,16116000.0,2972000.0,...,34098000.0,9752000.0,17965000.0,3524000.0,31241000.0,65339000.0,34098000.0,31241000.0,65339000.0,2016
6,1,20007.0,5Y,5Y,Atlas Air Inc.,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8575368.0,35795479.0,44370847.0,2016
7,1,19874.0,8C,8C,Air Transport International,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42347.0,1855154.0,1897501.0,2016
8,1,20363.0,9E,9E,Endeavor Air Inc.,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
9,1,20190.0,9S,9S,Southern Air Inc.,2,821638.0,4696010.0,580875.0,0.0,...,1725440.0,9861621.0,1219839.0,0.0,11081460.0,12806900.0,1725440.0,11081460.0,12806900.0,2016
10,1,19805.0,AA,AA,American Airlines Inc.,3,174110023.0,34804210.0,18848029.0,54176666.0,...,195098544.0,34536551.0,18632951.0,68174028.0,121343530.0,316442074.0,195806362.0,121537723.0,317344085.0,2016
11,1,20453.0,ABX,ABX,ABX Air Inc,2,193054.0,0.0,0.0,0.0,...,461092.0,0.0,0.0,0.0,0.0,461092.0,461092.0,0.0,461092.0,2016
12,1,19930.0,AS,AS,Alaska Airlines Inc.,3,36507433.0,0.0,0.0,1070108.0,...,45727266.0,0.0,0.0,1324811.0,1324811.0,47052077.0,45827760.0,1324811.0,47152571.0,2016
13,1,20409.0,B6,B6,JetBlue Airways,3,48414077.0,0.0,0.0,12141747.0,...,56262137.0,0.0,0.0,14109959.0,14109959.0,70372096.0,56262137.0,14275362.0,70537499.0,2016
14,1,21167.0,CP,CP,Compass Airlines,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016

In [8]:
passengers = pd.read_sql("SELECT * FROM passengers WHERE month = 12 OR month = 1"
            ,conn)

In [9]:
# passengers.to_csv('data/passengers.csv')

In [11]:
pd.read_sql('SELECT * FROM fuel_comsumption LIMIT 20', conn)

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,None,0JQ,None,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5100.0,0.0,5100.0,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,396216.0,140239.0,536455.0,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405.0,0.0,0.0,0.0,0.0,522405.0,569497.0,0.0,569497.0,2016
5,1,19917.0,5X,5X,United Parcel Service,3,32138000.0,9743000.0,16116000.0,2972000.0,...,34098000.0,9752000.0,17965000.0,3524000.0,31241000.0,65339000.0,34098000.0,31241000.0,65339000.0,2016
6,1,20007.0,5Y,5Y,Atlas Air Inc.,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8575368.0,35795479.0,44370847.0,2016
7,1,19874.0,8C,8C,Air Transport International,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42347.0,1855154.0,1897501.0,2016
8,1,20363.0,9E,9E,Endeavor Air Inc.,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
9,1,20190.0,9S,9S,Southern Air Inc.,2,821638.0,4696010.0,580875.0,0.0,...,1725440.0,9861621.0,1219839.0,0.0,11081460.0,12806900.0,1725440.0,11081460.0,12806900.0,2016
10,1,19805.0,AA,AA,American Airlines Inc.,3,174110023.0,34804210.0,18848029.0,54176666.0,...,195098544.0,34536551.0,18632951.0,68174028.0,121343530.0,316442074.0,195806362.0,121537723.0,317344085.0,2016
11,1,20453.0,ABX,ABX,ABX Air Inc,2,193054.0,0.0,0.0,0.0,...,461092.0,0.0,0.0,0.0,0.0,461092.0,461092.0,0.0,461092.0,2016
12,1,19930.0,AS,AS,Alaska Airlines Inc.,3,36507433.0,0.0,0.0,1070108.0,...,45727266.0,0.0,0.0,1324811.0,1324811.0,47052077.0,45827760.0,1324811.0,47152571.0,2016
13,1,20409.0,B6,B6,JetBlue Airways,3,48414077.0,0.0,0.0,12141747.0,...,56262137.0,0.0,0.0,14109959.0,14109959.0,70372096.0,56262137.0,14275362.0,70537499.0,2016
14,1,21167.0,CP,CP,Compass Airlines,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
15,1,19790.0,DL,DL,Delta Air Lines Inc.,3,137682215.0,51147892.0,38502896.0,30606142.0,...,187259219.0,69565371.0,52367129.0,41626889.0,163559389.0,350818608.0,190375249.0,164343753.0,354719002.0,2016
16,1,21650.0,EE,EE,Eastern Airlines Group Inc.,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202646.0,292406.0,495052.0,2016
17,1,20366.0,EV,EV,ExpressJet Airlines Inc.,3,81827.0,0.0,0.0,0.0,...,159104.0,0.0,0.0,0.0,0.0,159104.0,159104.0,0.0,159104.0,2016
18,1,20436.0,F9,F9,Frontier Airlines Inc.,3,14431035.0,0.0,0.0,1659053.0,...,14466443.0,0.0,0.0,1912704.0,1912704.0,16379147.0,14532960.0,1912704.0,16445664.0,2016
19,1,20107.0,FX,FX,Federal Express Corporation,3,56549784.0,11101514.0,18643661.0,898730.0,...,58229000.0,12100000.0,22567000.0,1246000.0,35913000.0,94142000.0,59236000.0,37262000.0,96498000.0,2016

In [9]:
# Get the test dataset

fl_test = pd.read_sql("SELECT * FROM flights_test WHERE fl_date BETWEEN '2020-01-01' and '2020-01-07'"
            ,conn)

In [10]:
fl_test.to_csv('flights_test.csv')